button{
	cursor: pointer;
}

.btn-group{
	margin-bottom: 15px;
}

#app{
	padding-top: 50px;
	margin-bottom: 50px;
}
#app .card{
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}
#app .card .close{
	position: absolute;
	top: 0px;
	right: 5px;
}
